.image {
    background-size: cover;
    width: 250px;
    height: 280px;
    border-radius: 10px;
  }
  .block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: lightslategray;
  }
  
  .hotels {
    width: auto;
    height: auto;
    flex: 1;
    flex-basis: 20%;
  }

  .descrip{
    background-color: lightgoldenrodyellow;
    width: 250px;
    text-align: center;
    border-radius: 10px;
  }
  .descrip:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform .2s;
  }